<div class="card">
    <div class="face front softui">
        <h3 class="debit">{{user.cardType}}</h3>
        <h3 class="bank">DBS Bank less live more</h3>
        <img mat-card-image class="chip" src="../../assets/chip.png" alt="chip">
        <h3 class="number">{{user.accountNumber}}</h3>
        <h5 class="valid"><span>valid<br /> upto</span><span>{{user.valid}}</span></h5>
        <h5 class="card-holder">{{user.accName}}</h5>
        <div class="logo">
            <img mat-card-image class="logo"src="../../assets/dbs.jpg" alt="dbs logo">
        </div>
    </div>
    <div class="face back softui">
        <div class="blackbar"></div>
        <div class="cvvtext">
            <div class="white-bar"></div>
            <div class="cvv">{{user.cvv}}</div>
        </div>
        <h3 class="balance"> balance :{{user.balance}}</h3>
        <h3 class="accType"> Acc Type :{{user.accountType}}</h3>
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis ex nec nulla posuere sollicitudin. Proin nec orci at est pellentesque malesuada eu a neque. Maecenas quis porttitor odio. Praesent faucibus dui nisl, ac luctus mauris pulvinar in. Morbi vitae ante a nunc ullamcorper rutrum. Donec non interdum purus, gravida elementum mi.
        </p>
    </div>
</div>