
<!-- <mat-button-toggle-group [(value)]="teja" appearance="legacy" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="0">home</mat-button-toggle>
  <mat-button-toggle value="1">bank</mat-button-toggle>
  <mat-button-toggle value="2">user</mat-button-toggle>
</mat-button-toggle-group> -->
<mat-tab-group>
  <mat-tab label="Home">
    <app-bank-transactions></app-bank-transactions>
  </mat-tab>
  <mat-tab label="Bank"> Content 2 </mat-tab>
  <mat-tab label="users"> 
    <app-usrlayout></app-usrlayout>
  </mat-tab>
</mat-tab-group>

<!-- <app-usrlayout *ngIf="teja==2"></app-usrlayout> -->
<!-- <div *ngIf="teja==0" class="container">
  <div class="box1">
    
 
  </div>
  <div class="box2">
    <app-useratncard> </app-useratncard>
  </div>
  <div class="box3">

  </div>
</div> -->


<!-- <mat-tab label="Home">
    home
  </mat-tab>
  <mat-tab label="Bank">bank</mat-tab> -->
  <!-- users board -->
  <!-- <mat-tab label="user">
    <app-usrlayout></app-usrlayout>
    
  </mat-tab> -->
  <!-- users dash end -->
<!-- </mat-tab-group> -->
