.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  /* grid-template-rows: 5fr 3fr; */
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  grid-gap: 10px;
}

.box1 {
  /* background: red; */
  grid-column: 1/3;
  grid-row: 1/3;
  padding: 50px;
}

.box2 {
  background: green;
}

.box3 {
  background: yellow;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* mat table styles */

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
